/* 
    Created on : 14.10.2015, 22:17:54
    Author     : serg
*/

* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    background: url(../images/bg.jpg) repeat;
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    background-color: #fafafa;
}
.header {
    height: 280px;
}
.header1 {
    height: 40px;
    background-color: #adadad;
    padding-top: 10px;
}
.header1_1 {
    background: url(../images/key_d.png) no-repeat left 35px top 10px;
    padding-top: 5px;
}
.header1_1 a {
    font-family: "HelveticaNeue Light"; /*, Verdana, Tahoma, Sans-serif;*/
    font-size: 17px;
    font-weight: bold;
    color: #d6d6d6;
    margin-left: 55px;
    text-decoration: underline;
}
.header1_2 {
    background: url(../images/pin2.png) no-repeat left 75px top 10px;
    padding-top: 5px;
}
.header1_2 a {
    font-family: "HelveticaNeue Light"; /*, Verdana, Tahoma, Sans-serif;*/
    font-size: 17px;
    font-weight: bold;
    color: #d6d6d6;
    margin-left: 95px;
    text-decoration: underline;
}
.header1_2 input {
    margin-left: 30px;
    height: 23px;
    width: 220px;
}
.header2 {
    height: 105px;
    background-color: #fafafa;
}
.header3 {
    height: 50px;
    background-color: #adadad;
}
.header4 {
    height: 80px;
    background-color: #cdcae6;
}
.logo {
    background: url(../images/logo.png) no-repeat center;
    width: 350px;
    height: 105px;
}
